@model Order


<header>
	<link rel="stylesheet" href="/css/admin.css">
</header>

<h1>Список заказов</h1>
@await Html.PartialAsync("AdminPanel")
<div class="row">
	<div class="col-9">
		<h3>Список заказов</h3>
	</div>
	<div class="row">
		<table class="table">
			<thread>
				<tr>
					<th>ID</th>
					<th>Сумма</th>
					<th>Статус</th>
					<th>Дата</th>
					<th>Время</th>
				</tr>
			</thread>
			<tbody>
				<tr>
					<td>@Model.Id</td>
					<td>@Model.Price</td>
					<td>
						<select asp-for="OrderStatus"
								asp-items="@Html.GetEnumSelectList<OrderStatus>()"
								class="form-control">
						</select>
					</td>
					<td>@Model.CreationTime.ToString("d")</td>
					<td>@Model.CreationTime.ToString("t")</td>
				
				</tr>
			</tbody>
		</table>
	</div>
</div>

