@model Product

<h2 style="text-align: center;">Редактирование продукта</h2>


<form asp-action="Edit" class="form" method="post" style="max-width: 300px; margin: 0 auto;">

	<input type="hidden" asp-for="Id" value="@Model.Id" />

	<div class="form-group">
		<label asp-for="Name">Название</label><br />
		<input class="form-control" asp-for="Name" value="@Model.Name" />
		<span asp-validation-for="Name"></span>
	</div>

	<div class="form-group">
		<label asp-for="Description">Описание:</label><br />
		<input class="form-control" asp-for="Description" value="@Model.Description" />
		<span asp-validation-for="Description"></span>
	</div>

	<div class="form-group">
		<label asp-for="Price">Цена:</label><br />
		<input type="number" class="form-control" asp-for="Price" value="@Model.Price" />
		<span asp-validation-for="Price"></span>
	</div>

	<div class="form-group">
		<label asp-for="ImagePath">Ссылка на изображение:</label><br />
		<input class="form-control" asp-for="ImagePath" value="@Model.ImagePath" />
		<span asp-validation-for="ImagePath"></span>
	</div>

	<br />
	<div style="text-align: center;">
		<button type="submit" class="btn btn-primary">
			Редактировать продукт
		</button>
	</div>
</form>
