@model CartViewModel

<header>
	<link rel="stylesheet" href="/css/cart.css">
</header>

<div class="escape-btns">
	<a class="back-btn btn" href="/Home/Index">⟵ НАЗАД</a>
</div>


@if (Model is null)
{
	<h3>Корзина пуcтая</h3>
}

else
{
	<div class="row">
		<div class="col">
			<table class="table">
				<thead>
					<tr>
						<th>Название</th>
						<th>Цена руб.</th>
						<th>Количество</th>
						<th>Стоимость руб.</th>
						<th>Добавить</th>
						<th>Удалить</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Items)
					{
						<tr>
							<td>@item.Product.Name</td>
							<td>@item.Product.Price</td>
							<td>@item.Amount</td>
							<td>@item.Price</td>
							<td><a href="/cart/add?productId=@item.Product.Id"><button type="button" class="btn btn-success cart-btn">+</button></a></td>
							<td><a href="/cart/removeitem?productId=@item.Product.Id"><button type="button" class="btn btn-danger cart-btn">-</button></a></td>
						</tr>
					}
				</tbody>
			</table>
			<div class="text-end">
				<h3>Итого: @Model.Price рублей</h3>
			</div>
			<div class="text-end d-flex justify-content-between">
				<a href="/cart/clearall?userId=@Model.Id" class="btn btn-danger" role="button">Очистить корзину</a>
				<a href="/order/index" class="btn btn-success" role="button">Перейти к оформлению</a>
			</div>

		</div>
	</div>
}