@model User

<header>
	<link rel="stylesheet" href="/css/admin.css">
</header>

<form method="post">
	<div class="row">
		@await Html.PartialAsync("AdminPanel")
		<div class="col-1"></div>
		<div class="col-9">
			<h4>Информация о пользователе<h4>
					<br />
					<table class="table">

						<tr>
							<th>ID</th>
							<td>@Model.Id</td>
						</tr>
						<tr>
							<th>Email:</th>
							<td>@Model.Name</td>
						</tr>


					</table>
					<br />
					<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Действия</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="ChangePassword" asp-route-name="@Model.Name">Смена пароля</a></li>
						<li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-name="@Model.Name">Редактирование данных</a></li>
						<li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="ChangeAccess" asp-route-name="@Model.Name">Права доступа</a></li>
						<li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-name="@Model.Name">Удалить</a></li>
					</ul>
		</div>
	</div>
</form>