@model User


<header>
	<link rel="stylesheet" href="/css/admin.css">
</header>

@await Html.PartialAsync("AdminPanel")
<div class="row">
	<div class="col-9">
		<h3>Информация о пользователе/h3>
	</div>
	<div class="row">

		<table class="table">


			<tr>
				<td>ID</td>
				<td>@Model.Id</td>
			<tr>

			<tr>
				<td>Email</td>
				<td>@Model.Name</td>
			<tr>

		</table>

		<button class="btn btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Действия
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="ChangePassword" asp-route-id="@Model.Name"> Смена пароля</a>
			<a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-id="@Model.Name"> Редактирование</a>
			<a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="EditRights" asp-route-id="@Model.Name"> Права доступа</a>
			<a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-id="@Model.Name"> Удалить</a>
		</div>
	</div>
</div>

