@model OrderViewModel


<header>
	<link rel="stylesheet" href="/css/admin.css">
</header>

@await Html.PartialAsync("AdminPanel")
<div class="row">
	<div class="col-9">
		<h3>Информация о заказе</h3>
	</div>
	<div class="row">
		<form asp-action="UpdateStatus" method="post">
			<table class="table">

				<input type="hidden" name="orderId" value="@Model.Id" />

				<tr>
					<td>ID</td>
					<td>@Model.Id</td>
				<tr>

				<tr>
					<td>Сумма</td>
					<td>@Model.Price</td>
				<tr>

				<tr>
					<td>Статус</td>
					<td>
						<select name="newStatus"
								asp-for="@Model.OrderStatus"
								asp-items="@Html.GetEnumSelectList<OrderStatusViewModel>()"
								class="form-control">
						</select>
					</td>
				<tr>

				<tr>
					<td>Дата</td>
					<td>@Model.CreationTime.ToString("d")</td>
				<tr>

				<tr>
					<td>Время</td>
					<td>@Model.CreationTime.ToString("t")</td>
				<tr>
			</table>
			<button class="btn btn-success" type="submit">
				Обновить статус
			</button>
		</form>
	</div>
</div>

